In [1]:
import pandas as pd
from collections import namedtuple
import os  
from sklearn.decomposition import PCA
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.utils import shuffle
from sklearn.metrics import f1_score
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import codecs 
import json 
from nltk import word_tokenize, pos_tag
from nltk.corpus import stopwords
from gensim.models import Word2Vec

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
i = 0
os.chdir("/home/chinesh/Desktop/Internship/Input_output_data")
for fn in os.listdir('.'):
    if os.path.isfile(fn):
        df = pd.read_pickle(fn)
        if i==0:
            data = pd.DataFrame(df[0]) 
            #print (fn)
            i=1
        else:
            data = data.append(df[0],ignore_index=True)
             #print (fn)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,234378,247.400000,27.058,p1,nimbussanl,#000000,14.0,0,True,True,False,False,False,False,False,False
1,234378,293.539231,27.058,p1,nimbussanl,#000000,14.0,0,True,True,False,False,False,False,False,False
2,71195,376.700000,54.470,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False
3,201816,395.973846,54.470,p1,nimbussanl,#000000,10.0,0,False,False,False,False,False,False,False,False
4,166593,406.110769,54.470,p1,nimbussanl,#000000,10.0,0,True,True,False,False,False,False,False,False

In [4]:
i = 0
os.chdir("/home/chinesh/Desktop/Internship/Input_output_data")
for fn in os.listdir('.'):
    if os.path.isfile(fn):
        df = pd.read_pickle(fn)
        if i==0:
            output = pd.DataFrame(df[1]) 
            
            #print (fn)
            i=1
        else:
            output = output.append(df[1],ignore_index=True)
output.head()

   0
0  1
1  0
2  0
3  0
4  0

In [5]:
os.chdir("/home/chinesh/Desktop/Internship")

In [6]:
data = pd.concat([data,output],axis=1)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,0
0,234378,247.400000,27.058,p1,nimbussanl,#000000,14.0,0,True,True,False,False,False,False,False,False,1
1,234378,293.539231,27.058,p1,nimbussanl,#000000,14.0,0,True,True,False,False,False,False,False,False,0
2,71195,376.700000,54.470,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False,0
3,201816,395.973846,54.470,p1,nimbussanl,#000000,10.0,0,False,False,False,False,False,False,False,False,0
4,166593,406.110769,54.470,p1,nimbussanl,#000000,10.0,0,True,True,False,False,False,False,False,False,0

In [7]:
column_names = ["Word ID","X","Y","Page ID","Font Style","Color","size","bold","an uppercse","all uppercase","single digit","multiple digit","special character","email","hperlink","calender month","output"]
data.columns = column_names
data.head(20)

,Word ID,X,Y,Page ID,Font Style,Color,size,bold,an uppercse,all uppercase,single digit,multiple digit,special character,email,hperlink,calender month,output
0,234378,247.400000,27.058,p1,nimbussanl,#000000,14.0,0,True,True,False,False,False,False,False,False,1
1,234378,293.539231,27.058,p1,nimbussanl,#000000,14.0,0,True,True,False,False,False,False,False,False,0
2,71195,376.700000,54.470,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False,0
3,201816,395.973846,54.470,p1,nimbussanl,#000000,10.0,0,False,False,False,False,False,False,False,False,0
4,166593,406.110769,54.470,p1,nimbussanl,#000000,10.0,0,True,True,False,False,False,False,False,False,0
5,234378,411.679231,54.470,p1,nimbussanl,#000000,10.0,0,False,False,True,True,True,False,False,False,0
6,234378,376.700000,66.870,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False,0
7,234378,406.711579,66.870,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False,0
8,27780,456.064211,66.870,p1,nimbussanl,#000000,10.0,0,True,True,False,False,False,False,False,False,0
9,234378,460.899474,66.870,p1,nimbussanl,#000000,10.0,0,False,False,False,False,False,False,False,False,0
10,131239,465.734737,66.870,p1,nimbussanl,#000000,10.0,0,True,True,False,False,False,False,False,False,0
11,234378,468.570000,66.870,p1,nimbussanl,#000000,10.0,0,False,False,False,False,False,False,False,False,0
12,111618,476.405263,66.870,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False,0
13,234378,495.746316,66.870,p1,nimbussanl,#000000,10.0,0,False,False,False,False,False,False,False,False,0
14,234378,501.581579,66.870,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False,0
15,234378,376.700000,79.270,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False,0
16,22484,402.470833,79.270,p1,nimbussanl,#000000,10.0,0,False,False,False,False,False,False,False,False,0
17,234378,412.379167,79.270,p1,nimbussanl,#000000,10.0,0,False,False,False,False,False,False,False,False,0
18,234378,417.333333,79.270,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False,0
19,234378,442.104167,79.270,p1,nimbussanl,#000000,10.0,0,False,False,False,False,False,False,False,False,0

In [8]:
column_names_output = ["output"]
output.columns = column_names_output

In [9]:
lb_make = LabelEncoder()
d5 = lb_make.fit_transform(data["Font Style"])
#obj_df[["make", "make_code"]].head(11)
d5[0:10]

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

In [10]:
n = 6
binary = []
for i in range(len(d5)):
    b = bin(d5[i])[2:]
    l = len(b)
    b = str(0) * (n - l) + b 

    binary.append(b)

In [11]:
binary_enc_style = []
for i in range(len(binary)):
    binary_enc_style.append([int(d) for d in str(binary[i])])

In [12]:
binary[50]

'000101'

In [13]:
d6 = lb_make.fit_transform(data["Color"])

In [14]:
n = 6
binary2 = []
for i in range(len(d6)):
    b = bin(d6[i])[2:]
    l = len(b)
    b = str(0) * (n - l) + b 

    binary2.append(b)

In [15]:
binary_enc = []
for i in range(len(binary2)):
    binary_enc.append([int(d) for d in str(binary2[i])])

In [16]:
binary_enc[50000:50002]

[[0, 1, 0, 1, 0, 1], [0, 1, 0, 1, 0, 1]]

In [17]:
d7 = pd.DataFrame(binary_enc,columns=['c1','c2','c3','c4','c5','c6'])

In [18]:
d8 = pd.DataFrame(binary_enc_style,columns=['s1','s2','s3','s4','s5','s6'])

In [19]:
d8.head(5)

   s1  s2  s3  s4  s5  s6
0   0   0   0   1   0   1
1   0   0   0   1   0   1
2   0   0   0   1   0   1
3   0   0   0   1   0   1
4   0   0   0   1   0   1

In [20]:
d7.size

644964

In [21]:
with codecs.open('nltk_words.vocab', 'r', encoding="UTF‐8") as f: 
    word2id = json.load(f)

In [22]:
word_id = data.as_matrix(columns=data.columns[0:1])

In [23]:
inv_map = {v: k for k, v in word2id.iteritems()}

In [24]:
value = inv_map.get(0)

In [25]:
len(inv_map)

234377

In [26]:

for i in range(len(word_id)):
    a = int(word_id[i])
    value = inv_map.get(a)
    if value==None:
        inv_map[int(word_id[i])] = '<UNK>'

In [27]:
stop = set(stopwords.words('english'))
stop_words = []
for key, value in inv_map.iteritems():
    if value in stop:
        stop_words.append(key)

In [28]:
len(stop_words)

134

In [29]:
stop_words[2]

3432

In [30]:
data = pd.concat([data,d7,d8],axis=1)

In [32]:
data.head(5)

,Word ID,X,Y,Page ID,Font Style,Color,size,bold,an uppercse,all uppercase,...,c3,c4,c5,c6,s1,s2,s3,s4,s5,s6
0,234378,247.400000,27.058,p1,nimbussanl,#000000,14.0,0,True,True,...,0,0,0,0,0,0,0,1,0,1
1,234378,293.539231,27.058,p1,nimbussanl,#000000,14.0,0,True,True,...,0,0,0,0,0,0,0,1,0,1
2,71195,376.700000,54.470,p1,nimbussanl,#000000,10.0,0,True,False,...,0,0,0,0,0,0,0,1,0,1
3,201816,395.973846,54.470,p1,nimbussanl,#000000,10.0,0,False,False,...,0,0,0,0,0,0,0,1,0,1
4,166593,406.110769,54.470,p1,nimbussanl,#000000,10.0,0,True,True,...,0,0,0,0,0,0,0,1,0,1

In [33]:
data.size

3117326

In [34]:
data = data.set_index('Word ID')

In [35]:

data.index.values

array([234378, 234378,  71195, ..., 234378, 234378, 201816])

In [36]:
data_l = data.drop(stop_words)

In [37]:
data = data.reset_index()

In [38]:
data.size

3117326

In [39]:
data_l.size

2458792

In [40]:
data_l = data_l.reset_index()
data_l.size

2546606

In [41]:
data_l.head(5)

,Word ID,X,Y,Page ID,Font Style,Color,size,bold,an uppercse,all uppercase,...,c3,c4,c5,c6,s1,s2,s3,s4,s5,s6
0,234378,247.400000,27.058,p1,nimbussanl,#000000,14.0,0,True,True,...,0,0,0,0,0,0,0,1,0,1
1,234378,293.539231,27.058,p1,nimbussanl,#000000,14.0,0,True,True,...,0,0,0,0,0,0,0,1,0,1
2,71195,376.700000,54.470,p1,nimbussanl,#000000,10.0,0,True,False,...,0,0,0,0,0,0,0,1,0,1
3,234378,411.679231,54.470,p1,nimbussanl,#000000,10.0,0,False,False,...,0,0,0,0,0,0,0,1,0,1
4,234378,376.700000,66.870,p1,nimbussanl,#000000,10.0,0,True,False,...,0,0,0,0,0,0,0,1,0,1

In [42]:
word_id = data_l.as_matrix(columns=data.columns[0:1])

In [43]:
word_id[4648]

array([234378])

In [44]:
sentence = []
for i in range(len(word_id)):
    sentence.append(str(inv_map[int(word_id[i])]))

In [45]:
sentence[0:10]

['<UNK>',
 '<UNK>',
 'flat',
 '<UNK>',
 '<UNK>',
 '<UNK>',
 'b',
 '<UNK>',
 'g',
 '<UNK>']

In [30]:
tags = pos_tag(sentence)

In [31]:
pos = []

In [32]:
print (len(sentence))
print (len(tags))

87814
87814

In [33]:
tags[0]

('unknown', 'JJ')

In [34]:
#Entity recognition
from nltk.tag import StanfordNERTagger
JAVA_HOME= "/opt/java/jre1.8.0_45/bin/java"
st = StanfordNERTagger('/home/chinesh/Downloads/stanford-ner/classifiers/english.all.3class.distsim.crf.ser.gz',
					   '/home/chinesh/Downloads/stanford-ner/stanford-ner.jar',
					   encoding='utf-8')

#text = 'While in France, Christine Lagarde discussed short-term stimulus efforts in a recent interview with the Wall Street Journal.'

#tokenized_text = word_tokenize(text)
classified_text = st.tag(sentence)

/usr/local/lib/python2.7/dist-packages/nltk/tag/stanford.py:183: DeprecationWarning:
The StanfordTokenizer will be deprecated in version 3.2.5.
Please use nltk.tag.corenlp.CoreNLPPOSTagger or nltk.tag.corenlp.CoreNLPNERTagger instead.
  super(StanfordNERTagger, self).__init__(*args, **kwargs)

In [35]:
print(classified_text[0:10])

[(u'unknown', u'O'), (u'unknown', u'O'), (u'flat', u'O'), (u'unknown', u'O'), (u'unknown', u'O'), (u'unknown', u'O'), (u'b', u'O'), (u'unknown', u'O'), (u'g', u'O'), (u'unknown', u'O')]

In [36]:
classified_text[2][0]
NER = []
POS = []
for i in range(len(classified_text)):
    NER.append(str(classified_text[i][1]))
    POS.append(str(tags[i][1]))
print (len(NER))
print (NER[0:5])
print (len(POS))
print (POS[0:5])

87814
['O', 'O', 'O', 'O', 'O']
87814
['JJ', 'JJ', 'JJ', 'JJ', 'JJ']

In [37]:
data_l = data_l.assign( ner= NER)
data_l = data_l.assign(pos=POS)
data_l.head(5)

,Word ID,X,Y,Page ID,Font Style,Color,size,bold,an uppercse,all uppercase,single digit,multiple digit,special character,email,hperlink,calender month,output,ner,pos
0,234378,247.400000,27.058,p1,nimbussanl,#000000,14.0,0,True,True,False,False,False,False,False,False,1,O,JJ
1,234378,293.539231,27.058,p1,nimbussanl,#000000,14.0,0,True,True,False,False,False,False,False,False,0,O,JJ
2,71195,376.700000,54.470,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False,0,O,JJ
3,234378,411.679231,54.470,p1,nimbussanl,#000000,10.0,0,False,False,True,True,True,False,False,False,0,O,JJ
4,234378,376.700000,66.870,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False,0,O,JJ

In [38]:
len(classified_text)

87814

In [39]:
output = data_l.as_matrix(columns=data.columns[16:17])
print (output[0:10])

[[1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]]

In [40]:
from itertools import groupby

group = [list(j) for i, j in groupby(output)]

In [41]:
sent = []
corpus = []
k = 0
for i in range(len(group)):
    for j in range(len(group[i])):
        sent.append(str(inv_map[int(word_id[k])]))
        k = k+1
    corpus.append(sent)
    sent = []
print (k)

87814

In [42]:
len(corpus)

1284

In [43]:
corpus[0:2]

[['unknown'],
 ['unknown',
  'flat',
  'unknown',
  'unknown',
  'unknown',
  'b',
  'unknown',
  'g',
  'unknown',
  'road',
  'unknown',
  'unknown',
  'unknown',
  'id',
  'unknown',
  'unknown',
  'unknown',
  'unknown',
  'unknown',
  'unknown',
  'unknown',
  'mobile',
  'unknown',
  'unknown']]

size: (default 100) The number of dimensions of the embedding, e.g. the length of the dense vector to represent each token (word).
window: (default 5) The maximum distance between a target word and words around the target word.
min_count: (default 5) The minimum count of words to consider when training the model; words with an occurrence less than this count will be ignored.
workers: (default 3) The number of threads to use while training.
sg: (default 0 or CBOW) The training algorithm, either CBOW (0) or skip gram (1).

In [44]:
model = Word2Vec(corpus)

In [45]:
vocab = list(model.wv.vocab.keys())

In [46]:
'utilize' in model.wv.vocab

False

#run only once
for i in range(len(word_id)):
    with open("hello.txt", "a") as f: 
        f.write(str(inv_map[int(word_id[i])])+" ")

In [47]:
from gensim.models.wrappers import FastText
fasttext_model = FastText.load_fasttext_format('model')

In [48]:
print(fasttext_model['chinesh'])

[ 0.09544583  0.10362598 -0.1363844   0.35314646  0.04261265 -0.19729671
  0.45181164  0.19767907  0.14236683 -0.57404292 -0.21266603 -0.01285429
 -0.06247075  0.0469972   0.13475956  0.15317972 -0.01346129  0.06141938
 -0.5301488  -0.28809574 -0.05079316 -0.21411243 -0.09134147 -0.22290356
  0.19651659 -0.19507113 -0.03118015 -0.28130084  0.08115558 -0.14940497
 -0.26338702  0.31543952  0.08656738 -0.20129824 -0.06349082 -0.04700368
 -0.69880497 -0.33727959 -0.19785692  0.24076016  0.09721585  0.23221377
  0.14723614  0.24080172  0.11784152 -0.30306423  0.12651423 -0.08139323
 -0.07303312  0.05334964 -0.35142821 -0.19167846  0.24505827 -0.10478441
 -0.29695258 -0.10844624 -0.41263729  0.3662571  -0.26706296 -0.26449329
 -0.10889928 -0.15668328  0.0283591   0.10816719 -0.01183525  0.25283268
  0.22423787 -0.09185463  0.13081248 -0.18299255 -0.04891416 -0.1966069
  0.04542682 -0.05545353  0.06624257 -0.04867642  0.23609462  0.23200545
 -0.30231658 -0.04389516 -0.14834711 -0.2440304   0.13237205 -0.32957047
 -0.4200078   0.37591738 -0.09072297  0.15145217  0.3179234  -0.18929747
  0.03729143 -0.02561762 -0.13363519 -0.13405259 -0.22937396  0.46863312
  0.02720881 -0.18959355 -0.12098561 -0.55460274]

In [49]:
inv_map[151248]

u'utilize'

In [75]:
embedding = []
for i in range(len(word_id)):
    embedding.append(fasttext_model[str(inv_map[int(word_id[i])])])

KeyError: 'all ngrams for word l absent from model'

In [ ]:
#I am able to get Word Embedding Vector in the terminal using the same model
"""
chinesh@chinesh-system:~/Desktop/Internship/fastText$"""
"""
echo "l" | ./fasttext print-word-vectors model.bin
l 
[ 0.0048812 0.008976 -0.003507 -0.0092356 0.0035168 -0.0056899 0.0072051 0.0067557 0.0095129 -0.003727 -0.0052977 
-0.0071351 0.00081407 0.0053151 -0.0032865 -0.0021297 0.005921 -0.0042221 -0.0036511 -0.0049289 0.0097657 
-0.0091812 0.0031388 -0.0053832 -0.0011134 -0.0058453 0.0068844 0.0039485 0.009974 0.0093148 0.007425 0.0091717
-0.0073375 0.0048377 0.009732 -0.0086213 -0.008269 -3.0027e-05 0.0051329 -0.0032313 0.00013402 -0.0029552
0.0088934 -0.0069358 -0.0022142 -0.0051877 0.0029502 0.0084794 -0.0027327 0.0026992 -0.00063287 -0.0018461 
0.00064785 -0.0039267 0.006237 0.0077203 -0.0067391 0.0051901 -0.0080069 0.0093334 0.0046497 -0.0052277 0.0034987
0.0030906 -0.0039237 -0.0083594 0.0090469 -0.0034729 -0.0036706 -0.0041913 0.004009 0.0024615 0.000745 -0.003464 
-0.0080353 0.0061685 -0.0029947 -0.006603 0.007117 -0.0079782 -0.0079483 -0.0011229 0.0056491 -0.0016066 
-0.0050537 -0.0089186 0.0039222 -0.0088244 0.0012134 0.0093498 0.0011301 -0.0065108 0.0088188 0.0094571
-0.00011495 -0.0013246 -0.007986 -0.0052857 -0.00027067 -0.00046472 ] """

In [76]:
len(embedding)

1075

In [77]:
embedding[0:2]

[array([ 0.12982059,  0.20151582, -0.13708828,  0.11821558, -0.04828482,
        -0.10944404,  0.37553796,  0.0613935 ,  0.12330789, -0.15532704,
        -0.16973296,  0.04933795, -0.05352433, -0.07517281, -0.12000521,
         0.07681455,  0.08464158, -0.03559894, -0.25115448, -0.30675951,
         0.01972898, -0.19101016, -0.04053801, -0.20599759,  0.05889356,
        -0.11798973,  0.09748763, -0.13856055,  0.01666015,  0.03948123,
        -0.01721959,  0.05552281,  0.01930442, -0.27860564, -0.03066569,
         0.10142477, -0.2136007 , -0.15571514,  0.12495878, -0.03521345,
         0.03328121,  0.10850111,  0.22174968,  0.17803296,  0.15790325,
        -0.26374912,  0.03699565, -0.08725341, -0.11855134,  0.0318355 ,
        -0.2378902 , -0.16966832,  0.21284875, -0.15174982, -0.11691894,
        -0.02703567, -0.20986585,  0.32182097, -0.00564275, -0.07275699,
        -0.07774176, -0.04640207,  0.11499643,  0.12984502, -0.12673178,
         0.18582907,  0.14038227, -0.02398731,  0.1210951 , -0.03550062,
        -0.04650422, -0.05447094,  0.16635171,  0.14922525,  0.09595703,
        -0.06838517,  0.19301668,  0.15072827, -0.17597385,  0.03042747,
         0.02478073, -0.14518762,  0.20780715, -0.30615315, -0.32467708,
         0.31898683, -0.23671357,  0.18837014,  0.30392957, -0.15358882,
         0.02247817,  0.05003136, -0.17706013,  0.00520449, -0.22492895,
         0.43421727,  0.1896701 , -0.08471619, -0.01802164, -0.44813588], dtype=float32),
 array([ 0.12982059,  0.20151582, -0.13708828,  0.11821558, -0.04828482,
        -0.10944404,  0.37553796,  0.0613935 ,  0.12330789, -0.15532704,
        -0.16973296,  0.04933795, -0.05352433, -0.07517281, -0.12000521,
         0.07681455,  0.08464158, -0.03559894, -0.25115448, -0.30675951,
         0.01972898, -0.19101016, -0.04053801, -0.20599759,  0.05889356,
        -0.11798973,  0.09748763, -0.13856055,  0.01666015,  0.03948123,
        -0.01721959,  0.05552281,  0.01930442, -0.27860564, -0.03066569,
         0.10142477, -0.2136007 , -0.15571514,  0.12495878, -0.03521345,
         0.03328121,  0.10850111,  0.22174968,  0.17803296,  0.15790325,
        -0.26374912,  0.03699565, -0.08725341, -0.11855134,  0.0318355 ,
        -0.2378902 , -0.16966832,  0.21284875, -0.15174982, -0.11691894,
        -0.02703567, -0.20986585,  0.32182097, -0.00564275, -0.07275699,
        -0.07774176, -0.04640207,  0.11499643,  0.12984502, -0.12673178,
         0.18582907,  0.14038227, -0.02398731,  0.1210951 , -0.03550062,
        -0.04650422, -0.05447094,  0.16635171,  0.14922525,  0.09595703,
        -0.06838517,  0.19301668,  0.15072827, -0.17597385,  0.03042747,
         0.02478073, -0.14518762,  0.20780715, -0.30615315, -0.32467708,
         0.31898683, -0.23671357,  0.18837014,  0.30392957, -0.15358882,
         0.02247817,  0.05003136, -0.17706013,  0.00520449, -0.22492895,
         0.43421727,  0.1896701 , -0.08471619, -0.01802164, -0.44813588], dtype=float32)]

In [59]:
def generate_ngrams(text, n):
    words = text.split()
    output = []  
    for i in range(len(words)-n+1):
        output.append(words[i:i+n])
    return output

In [60]:
#while rerunning the code either don't write again or make a new file
with open("hello.txt", "r") as f: 
    lines = f.readlines()

In [61]:
n_grams = generate_ngrams(lines[0],5)

In [62]:
len(n_grams)

87810

In [63]:
for i in range(0,4):
    n_grams.append(['unknown','unknown','unknown','unknown','unknown'])

In [65]:
data_l = data_l.assign(n_grams = n_grams)
data_l.head(5)

,Word ID,X,Y,Page ID,Font Style,Color,size,bold,an uppercse,all uppercase,single digit,multiple digit,special character,email,hperlink,calender month,output,ner,pos,n_grams
0,234378,247.400000,27.058,p1,nimbussanl,#000000,14.0,0,True,True,False,False,False,False,False,False,1,O,JJ,"[unknown, unknown, flat, unknown, unknown]"
1,234378,293.539231,27.058,p1,nimbussanl,#000000,14.0,0,True,True,False,False,False,False,False,False,0,O,JJ,"[unknown, flat, unknown, unknown, unknown]"
2,71195,376.700000,54.470,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False,0,O,JJ,"[flat, unknown, unknown, unknown, b]"
3,234378,411.679231,54.470,p1,nimbussanl,#000000,10.0,0,False,False,True,True,True,False,False,False,0,O,JJ,"[unknown, unknown, unknown, b, unknown]"
4,234378,376.700000,66.870,p1,nimbussanl,#000000,10.0,0,True,False,False,False,False,False,False,False,0,O,JJ,"[unknown, unknown, b, unknown, g]"

In [66]:
data_final = data_l[["Font Style","Color","size","bold","an uppercse","all uppercase","single digit","multiple digit","special character","email","hperlink","calender month","ner","pos","n_grams"]].copy()

In [67]:
data_final.head(1)

,Font Style,Color,size,bold,an uppercse,all uppercase,single digit,multiple digit,special character,email,hperlink,calender month,ner,pos,n_grams
0,nimbussanl,#000000,14.0,0,True,True,False,False,False,False,False,False,O,JJ,"[unknown, unknown, flat, unknown, unknown]"

In [1]:
#get the type of data
print("Data types and their frequency\n{}".format(data_final.dtypes.value_counts()))

SyntaxError: invalid syntax (<ipython-input-1-b619dd006858>, line 2)

In [69]:
object_columns_df = data_final.select_dtypes(include=['object'])
print(object_columns_df.iloc[0])

Font Style                                    nimbussanl
Color                                            #000000
ner                                                    O
pos                                                   JJ
n_grams       [unknown, unknown, flat, unknown, unknown]
Name: 0, dtype: object

In [70]:
cols = ['Font Style','Color','ner','pos']
for name in cols:
    print(name,':')
    print(object_columns_df[name].value_counts(),'\n')

('Font Style', ':')
(utopia           34066
dejavusans       26576
nimbussanl       18100
nimbusromno9l     5059
dejavuserif       2936
urwpalladiol      1054
nimbusmonl          12
opensymbol           7
standardsyml         4
Name: Font Style, dtype: int64, '\n')
('Color', ':')
(#000000    58541
#656565    25117
#878787     1748
#434343      738
#02304b      470
#003265      165
#2d73b4      127
#323232      124
#bfbfbf      113
#212121      108
#0000ff      103
#202020       80
#0d75b4       70
#ffffff       65
#00007f       52
#363d4c       45
#070349       28
#001f5f       19
#070707       15
#263590       14
#323298       12
#7f7f7f       11
#ffff98       11
#16355c        9
#006fbf        8
#ff0000        8
#d4a5bc        7
#252525        3
#1a406e        3
Name: Color, dtype: int64, '\n')
('ner', ':')
(O    87814
Name: ner, dtype: int64, '\n')
('pos', ':')
(JJ     53478
NN     26482
VBG     1293
RB      1131
IN      1053
VBN      980
VBD      832
NNS      795
VBP      555
VB       452
MD       134
JJS      123
CD       117
NNP       88
PRP       87
VBZ       48
JJR       32
DT        25
FW        24
RBR       23
RP        19
CC        16
WRB       12
WP         7
WDT        2
RBS        2
TO         2
EX         1
SYM        1
Name: pos, dtype: int64, '\n')

In [71]:
#delete ner column as we are not able to get the tags using StanfordNERTagger
del data_final['ner']

In [72]:
#classes
nominal_columns = ["Font Style", "Color",'pos']
dummy_df = pd.get_dummies(object_columns_df[nominal_columns])
d2 = pd.concat([object_columns_df, dummy_df], axis=1)
d2 = d2.drop(nominal_columns, axis=1)
d2.head()

,ner,n_grams,Font Style_dejavusans,Font Style_dejavuserif,Font Style_nimbusmonl,Font Style_nimbusromno9l,Font Style_nimbussanl,Font Style_opensymbol,Font Style_standardsyml,Font Style_urwpalladiol,...,pos_TO,pos_VB,pos_VBD,pos_VBG,pos_VBN,pos_VBP,pos_VBZ,pos_WDT,pos_WP,pos_WRB
0,O,"[unknown, unknown, flat, unknown, unknown]",0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,O,"[unknown, flat, unknown, unknown, unknown]",0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,O,"[flat, unknown, unknown, unknown, b]",0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,O,"[unknown, unknown, unknown, b, unknown]",0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,O,"[unknown, unknown, b, unknown, g]",0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [73]:
#boolean
d3 = data[["an uppercse", "all uppercase","single digit","multiple digit","special character","email","hperlink","calender month"]].astype(int)
d3.head()

,an uppercse,all uppercase,single digit,multiple digit,special character,email,hperlink,calender month
0,1,1,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0

In [74]:
#convert the data using one-hot encoding
processed = pd.concat([d3,d2], axis=1)
processed.head()

,an uppercse,all uppercase,single digit,multiple digit,special character,email,hperlink,calender month,ner,n_grams,...,pos_TO,pos_VB,pos_VBD,pos_VBG,pos_VBN,pos_VBP,pos_VBZ,pos_WDT,pos_WP,pos_WRB
0,1,1,0,0,0,0,0,0,O,"[unknown, unknown, flat, unknown, unknown]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,0,0,0,0,0,0,O,"[unknown, flat, unknown, unknown, unknown]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,0,0,0,0,0,0,O,"[flat, unknown, unknown, unknown, b]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0,0,0,0,O,"[unknown, unknown, unknown, b, unknown]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,1,0,0,0,0,0,0,O,"[unknown, unknown, b, unknown, g]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
X, y = shuffle(processed.values, output.values, random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)
#feature reduction using PCA, estimate how much compoents to be used
pca = PCA(n_components=77)
pca.fit(X_train)
var= pca.explained_variance_ratio_
var1=np.cumsum(np.round(pca.explained_variance_ratio_, decimals=4)*100)
print (var1)
plt.plot(var1)
plt.show()

In [ ]:
#n_componets can be deduced by observing the graph.
pca = PCA(n_components=25)
pca.fit(processed.values)
X_train_reduced = pca.transform(X_train)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

look_back, which is the number of previous time steps to use as input variables to predict the next time period

In [ ]:
# design network
look_back = 3
model = Sequential()
model.add(LSTM(4, input_shape=(look_back,no_features))
model.add(Dense(1))
model.add(Activation('relu'))
model.add(Activation('sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam')


# fit network
history = model.fit(X_train, y_train, epochs=10, batch_size=72, validation_data=(X_test, y_test), verbose=2, shuffle=False)
# plot history
pyplot.plot(history.history['loss'], label='train')
pyplot.plot(history.history['val_loss'], label='test')
pyplot.legend()
pyplot.show()

In [ ]:

# make predictions
trainPredict = model.predict(X_train)
testPredict = model.predict(X_test)
# calculate RMSE
rmse = sqrt(mean_squared_error(y_test, testPredict))
print('Test RMSE: %.3f' % rmse)